{% extends 'newbase.html' %}
{% load widget_tweaks %}
{% load account %}

{% block head_title %}Account Inactive{% endblock %}
{% block pagename %}Account Inactive{% endblock %}

{% block content %}
<section class="relative isolate mx-auto overflow-hidden bg-white px-4 py-6 sm:py-10 lg:px-8 shadow-2xl shadow-indigo-500/60 rounded-2xl">
    <div class="flex min-h-full flex-col justify-center">
        <div class="space-y-12">
            <div class="border-b border-purple-900/10 pb-4">
                <h2 class="text-xl font-bold leading-7 text-zinc-900">This account is inactive.</h2>
                <p>
                    Please contact support if you feel this is an error.
                </p>
            </div>
        </div>
    </div>
</section>
{% endblock %}