{% extends 'rebase.html' %}
{% load widget_tweaks %}
{% block head_title %}Update Profile{% endblock %}
{% block pagename %}Update Profile{% endblock %}
{% load account %}
{% block content %}
<section class="bg-gray-50 shadow shadow-lg shadow-gray-800 mx-auto max-w-2xl overflow-hidden px-6 py-24 sm:py-8 lg:px-8 rounded-2xl">
    <div class="px-4 py-4 mx-auto lg:py-4">
        <div class="space-y-12">
            <div class="border-b border-purple-900/10 pb-4">
                <h1 class="mb-6 text-lg font-bold text-gray-900">Update Profile</h1>
                <p class="text-gray-800 text-leading text-xs">Add or update your details in the fields below and click <strong>Save Changes</strong>.</p>
                <div class="mt-5 grid grid-cols-1 gap-x-6 gap-y-8 justify-center items-center">
                    <form class="login space-y-6 max-w-xl" method="POST">
                        {% csrf_token %}
                        {% if initial %}
                            {% render_field form.location placeholder=form.location.initial %}
                            {% render_field form.title placeholder=form.title.initial %}
                            <div class="w-full">
                                <label for="brand" class="block mb-2 text-md font-medium text-gray-900">First Name</label>
                                <input disabled type="text" name="brand" id="brand" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5" value="{% if form.location.initial %}{{ form.location.initial }}{% endif %}">
                            </div>
                        {% else %}
                            <div class="block text-md font-medium leading-6 text-gray-900">{{ form.location.label }}</div>
                        {% render_field form.location placeholder=form.location.label class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" %}
                            <div class="block text-md font-medium leading-6 text-gray-900">{{ form.title.label }}</div>
                            {% render_field form.title placeholder=form.title.label class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" %}
                        {% endif %}
                        {% for error in field.errors %}
                            <div id="alert-1" class="flex p-3 mb-3 text-red-800 rounded-lg bg-red-50 dark:bg-gray-600 dark:text-red-400" role="alert">
                                <svg class="flex-shrink-0 w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                                    <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
                                </svg>
                                <span class="sr-only">Info</span>
                                <div class="ml-3 text-sm font-small">
                                    {{ error }}
                                </div>
                                <button type="button" class="ml-auto -mx-1.5 -my-1.5 bg-red-50 text-red-500 rounded-lg focus:ring-2 focus:ring-red-400 p-1.5 hover:bg-red-200 inline-flex items-center justify-center h-8 w-8 dark:bg-gray-600 dark:text-red-400 dark:hover:bg-red-700" data-dismiss-target="#alert-1" aria-label="Close">
                                    <span class="sr-only">Close</span>
                                    <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                                    </svg>
                                </button>
                            </div>
                        {% endfor %}
                        <div class="inline-flex">
                            <div class="ml-2">
                                <button type="submit" class="text-white bg-indigo-700 hover:bg-indigo-800 focus:ring-4 focus:ring-indigo-300 font-medium rounded-lg text-xs px-5 py-2.5 mr-2 mb-2 dark:bg-indigo-600 dark:hover:bg-indigo-700 focus:outline-none dark:focus:ring-indigo-800">Save Changes</button>
                            </div>
                            <div class="ml-2">
                                <button type="cancel" class="text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-xs px-5 py-2.5 mr-2 mb-2 dark:bg-red-600 dark:hover:bg-red-700 focus:outline-none dark:focus:ring-red-800">Cancel</button>
                            </div>
                        </div>
                        {% for error in form.non_field_errors %}
                        <div id="alert-1" class="flex p-3 m-3 text-red-800 rounded-lg bg-red-50 dark:bg-gray-600 dark:text-red-400" role="alert">
                            <svg class="flex-shrink-0 w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                                <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
                            </svg>
                            <span class="sr-only">Info</span>
                            <div class="ml-3 text-sm font-small">
                                {{ error }}
                            </div>
                            <button type="button" class="ml-auto -mx-1.5 -my-1.5 bg-red-50 text-red-500 rounded-lg focus:ring-2 focus:ring-red-400 p-1.5 hover:bg-red-200 inline-flex items-center justify-center h-8 w-8 dark:bg-gray-600 dark:text-red-400 dark:hover:bg-red-700" data-dismiss-target="#alert-1" aria-label="Close">
                                <span class="sr-only">Close</span>
                                <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                                </svg>
                            </button>
                        </div>
                        {% endfor %}
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}