{% extends 'rebase.html' %}
{% load widget_tweaks %}
{% block head_title %}Configuration{% endblock %}
{% block pagename %}Configuration{% endblock %}
{% load account %}

{% block content %}
<section class="bg-gray-50 shadow shadow-lg shadow-gray-800 mx-auto max-w-2xl overflow-hidden px-6 py-24 sm:py-8 lg:px-8 rounded-2xl">
    <div class="flex flex-col justify-center px-6 py-12 lg:px-8">
        <h1 class="text-3xl font-bold text-center text-gray-900 mb-8">Add Examples</h1>
        <p class="text-sm text-gray-600 mb-8">Examples help the model determine what is an ideal outcome based on customer input. We recommend starting with a few, and adding more over time.
        </p>
        <form method="post">
            {% csrf_token %}
            <div class="grid gap-4 mb-4">
                <div>
                    <label for="price" class="block mb-4 text-md font-medium text-gray-900">{{ form.input_text.label }}</label>
                    {% render_field form.input_text class+="mb-4 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" %}
                    <label for="price" class="block mb-4 text-md font-medium text-gray-900">{{ form.output_text.label }}</label>
                    {% render_field form.output_text class+="mb-4 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" %}
                    <label for="price" class="block mb-4 text-md font-medium text-gray-900">{{ form.name.label }}</label>
                    {% render_field form.name class+="mb-4 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" %}
                    <label for="price" class="block mb-4 text-md font-medium text-gray-900">{{ form.managed_status.label }}</label>
                    {% render_field form.managed_status class+="mb-4 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" %}
                </div>
            </div>
            <div class="flex items-center space-x-4">
                <button hx-post="{% url 'vertex_chat_config_start_example_create' %}" hx-trigger="load" hx-target="#example-list" type="submit" class="text-gray-50 bg-indigo-700 hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-indigo-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center">
                    Add Example
                </button>
            </div>
        </form>
    </div>
    <hr class="pb-4" />
    <div class="relative">
        <div id='example-list'>
            {% include 'partials/example-list.html' %}
            {# HTMX Insert Here #}
        </div>
    </div>
</section>
{% endblock content %}